<div th:fragment="no_search_header">
    <link th:href="@{/css/FonStyle.css}" rel="stylesheet">
    <nav class="py-2 border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="/" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="/eyes" class="nav-link link-dark px-2">Eyes</a></li>
                <li class="nav-item"><a href="/face" class="nav-link link-dark px-2">Face</a></li>
                <li class="nav-item"><a href="/lips" class="nav-link link-dark px-2">Lips</a></li>
                <li class="nav-item"><a href="/body" class="nav-link link-dark px-2">Body</a></li>
            </ul>
            <ul class="nav">
                <li class="nav-item"><a href="/basket" class="nav-link link-dark px-2">Basket</a></li>
                <li class="nav-item"><a href="/contact_info" class="nav-link link-dark px-2">Profile</a></li>
                <li class="nav-item"><a href="/user" class="nav-link link-dark px-2"><font color="#ff8c00">User</font></a></li>
            </ul>
        </div>
    </nav>
</div>